.header {
  text-align: center;
  color: black;
  opacity: 0.75;
  margin: 5%;
}

.subheader {
  text-align: center;
  margin: 5px;
  border-bottom: 3px solid black;
}

body {
  background-color: dodgerblue;
  font-family: Helvetica;
  margin: 0;
}

#SpAlphabet {
  display: block;
  width: 95%;
  padding-bottom: 0;
  margin-bottom: 10px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

#Tun,
#Marimba {
  display: block;
  width: 200px;
  padding: 0;
  margin-bottom: 10px;
  Margin-top: 10px;
  border-radius: 15px;
  margin-left: 0;
  margin-right: auto;
  
}

.collection h2 {
  text-align: center;
  color: black;
  padding-top: 10px;
  border-top: 3px solid black;
  opacity: 0.75;
  margin: 0;
}

.collection a {
  color: black;
  text-decoration: none;
  font-weight: medium;
}

.collection a:hover {
  color: blueviolet;
}

.collection p {
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  opacity: 0.75;
}

.vcollection a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.vcollection a:hover {
  color: blueviolet;
}

.vcollection p {
  text-align: center;
  margin: 7px;
}

.home-button {
  text-align: right;
  background-color: skyblue;
  color: black;
  margin: 0;
}

.home-button a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.home-button a:hover {
  color: blueviolet;
}

.m-contents {
  margin: 10px;
}

.sources a {
  text-decoration: none;
  color: black;
}

.sources a:hover {
  color: blueviolet;
}

.sitpl-link a {
  color: black;
  text-decoration: none;
}

.sitpl-link a:hover {
  color: blueviolet;
}

.centered {
  text-align: center;
}

.underlined {
  border-bottom: 3px solid black;
}

.full_padding {
  padding-left: auto;
  padding-right: auto;
}

.jet_images {
  display: block;
  width: 47.5%;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: LightBlue;
  border-radius: 2px;
}

th {
  width: 200px;
  height: 50px;
  text-align: center;
}

.table_title {
  background-color: SkyBlue;
  border-radius: 2px;
}

table {
  border-collapse: separate;
  border-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
}